*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 20px;
}

 #container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box {
  height: 500px;
  width: 450px;
  border: 3px black dotted;
  float: left;
  margin-left: 20px;

}

.delButt {
  position: absolute;
  right: 20px;
  top : 10px;
}

.accepted {
  background-color: azure;
}

.rejected {
  background-color: purple;
  color: white;
}

.pending {
  background-color: gray;
  color: white;
}

.paymentBox {
  border: 1px black solid;
  padding: 10px;
  margin-right: 10px;
    position: relative;
}
